.container {
  /* border: 1px solid red; */
  width: 1000px;
  overflow: hidden;
}
.container > div {
  /* border: 1px solid blue; */
  /* height: 800px; */
  float: left;
  box-sizing: border-box;
}
.left {
  width: 200px;
}
.right {
  width: 800px;
}
header {}
header > div {
  border: 1px solid red;
}
.header-logo {
  height: 100px;
}
.navi {
  /* height: 400px; */
}
.slide {}
.slide > div {
  border: 1px solid green;
  height: 350px;
}
.items {
  overflow: hidden;
}
.items > div {
  border: 1px solid black;
  height: 200px;
  float: left;
  box-sizing: border-box;
}
.news {
  width: 300px;
}
.banner {
  width: 250px;
}
.shortcut {
  width: 250px;
}
footer {
  overflow: hidden;
}
footer > div {
  border: 1px solid pink;
  height: 100px;
  float: left;
  box-sizing: border-box;
}
.footer-logo {
  width: 200px;
}
.copyright {
  width: 600px;
}
.copyright div {
  border: 1px solid black;
  height: 50px;
}