@charset 'utf-8';

body {
  margin: 0;
  font-size: 15px;
  background-color: #fff;
  color: #222328;
}

a {
  color: #222328;
  text-decoration: none;
}

.container {
  border: 1px solid #ccc;
  width: 1200px;
  margin: auto;
}

header {
  height: 100px;;
}
header > div {
  border: 1px solid #ccc;
  height: 100px;
}
.header-logo {
  width: 200px;
  float: left;
}
.navi {
  width: 600px;
  float: right;  
}

.slide {}
.slide > div {
  border: 1px solid #ccc;
  height: 300px;
}

.items {
  overflow: hidden;
}
.items > div {
  height: 200px;
  float: left;
}
.news {
  width: 500px;
}
.banner {
  width: 350px;
}
.shortcut {
  width: 350px;
}

footer {
  overflow: hidden;
}
footer > div {
  height: 100px;
  float: left;
  box-sizing: border-box;
}
.footer-logo {
  width: 200px;
}
.copyright {
  width: 800px;
}
.sns {
  width: 200px;
}

/* Image & Text */
.copyright {
  text-align: center;
  padding-top: 40px;
}
.sns {
  line-height: 130px;
  text-align: center;
}