@charset 'utf-8';

body {
  margin: 0;
  font-size: 15px;
  background-color: #fff;
  color: #222328;
}

a {
  color: #222328;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
}

header {
  height: 100px;;
  position: relative;
}
header > div {
  height: 100px;
}
.header-logo {
  width: 200px;
  float: left;
}
.navi {
  width: 600px;
  float: right;  
}

.slide {}
.slide > div {
  height: 300px;
}

.items {
  overflow: hidden;
}
.items > div {
  height: 200px;
  float: left;
}
.news {
  width: 500px;
}
.banner {
  width: 350px;
}
.shortcut {
  width: 350px;
}

footer {
  overflow: hidden;
}
footer > div {
  height: 100px;
  float: left;
  box-sizing: border-box;
}
.footer-logo {
  width: 200px;
}
.copyright {
  width: 800px;
}
.sns {
  width: 200px;
}

/* Image & Text */
.copyright {
  text-align: center;
  padding-top: 40px;
}
.sns {
  line-height: 130px;
  text-align: center;
}

/* Slide */
.slide {
  width: 1200px;
  height: 300px;
  overflow: hidden;
}
.slide > div {
  font-size: 0;
  animation: slide 10s linear infinite;
}
@keyframes slide {
  0% { margin-top: 0; }
  30% { margin-top: 0 }
  35%  { margin-top: -300px }
  65% { margin-top: -300px }
  70%  { margin-top: -600px }
  95%  { margin-top: -600px }
  100%  { margin-top: 0 }
}

/* Navigation */
.menu {
  list-style: none;
  padding: 0;
}
.menu li {
  float: left;
  width: 25%;
  text-align: center;
}
.menu li > a {
  border: 1px solid #ccc;
  display: block;
  padding: 5px;
}
.menu li:hover > a {
  background-color: #000;
  color: #fff
}
.sub-menu {
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
}
.sub-menu a {
  display: block;
  padding: 5px;
}
.sub-menu a:hover {
  background-color: #000;
  color: #fff
}

/* Tab Menu */
.tab2 img {
  width: 120px;
  height: 120px;
}
.tab-inner {
  width: 95%;
  margin-top: 5px;
}
.btn {}
.btn a {
  border: 1px solid #000;
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  margin-right: -6px;
  border-bottom: none;
  background-color: #fff;
  margin-bottom: -1px;
  background-color: #ddd;
}
.btn a.active {
  background-color: #fff;
}
.tabs {}
.tab1 {
  border: 1px solid #000;
  padding: 0 10px;
}
.tab1 a {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #000;
}
.tab1 a:last-child {
  border-bottom: none;
}
.tab1 a b {
  float: right;
  font-weight: normal;
}
.tab2 {
  display: none;
  border: 1px solid #000;
  height: 165px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}