@charset "UTF-8";

a {
    text-decoration: none;
    color: #000;
}

.container {}

.header-inner {
    background: #eee;
}
header {
    height: 100px;
    width: 1200px;
    margin: auto;
}
header > div {
    box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
}
.header-logo {
    width: 200px;
    float: left;
}
.navi {
    width: 600px;
    float: right;
}

.content-inner {
    background: #bbb;
}
.slide {
    width: 1200px;
    margin: auto;
    border: 1px solid black;
    height: 300px;
}
.items {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.items > div {
    border: 1px solid black;
    height: 200px;
    float: left;
    box-sizing: border-box;
}
.news {
    width: 500px;
}
.banner {
    width: 350px;
}
.shortcut {
    width: 350px;
}

.footer-inner {
    background: #ddd;
}
footer {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
footer > div {
    border: 1px solid black;
    height: 100px;
    float: left;
    box-sizing: border-box;
}
.footer-logo {
    width: 200px;
}
.copyright {
    width: 1000px;
}
.copyright > div {
    border: 1px solid black;
    height: 50px;
}

/* 공지사항 갤러리 */
.btns {}
.btns a {}
.btns a.active {}
.tabs {}
.tabs > div {}
.tab1 {}
.tab1 a {}
.tab1 a em {}
.tab1 a b {}
.tab2 {}
.tab2 a {}
.tab2 img {}